.header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header_logo {
    width: 50px;
    height: 50px;
}
.header_titre {
    font-size: var(--text-xl);
    font-family: var(--font-sans-serif);
    color: var(--white);
}
.header_menu-btn {
    background: none;
    border: none;
}
.header_menu-btn-ouvert {
    position: relative;
    z-index: 12;
    width: 50px;
    height: 50px;
}
.header_menu-btn-fermer {
    position: absolute; 
    z-index: 11;
    width: 50px;
    height: 50px;
    top: 0; 
    right: 0;
}  
