.architecte_titre-img {
    width: 100%;
    height: 100%;
}
.architecte_titre-page {
    top: 50%;
    left: 50%;
    transform: translate(0%, -270%);
    font-family: var(--font-sans-serif);
    font-size: var(--text-xl);
    color: var(--white);
    width: 90%;
    margin-bottom: -70px;
    text-align: center;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    margin-left: 20px;
    z-index: 9;
}
.architecte_texte {
    margin: 20px;
    margin-right: 20px;
    font-family: var(--font-sans-serif);
    font-size: var(--text-m);
    font-weight:500;
    color: var(--black);
    text-align: justify;
} 
.architecte_img {
    width: 80%;
    height: 80%;
    margin-left: 40px;
    margin-top: 10px;
}
.architecte_citation {
    margin: 20px;
    text-align: center;
    font-family: var(--font-sans-serif);
    font-size: var(--text-m);
    font-weight:500;
    color: var(--black);
}
.architecte_sous-titre {
    margin: 20px;
    font-family: var(--font-sans-serif);
    font-size: var(--text-l);
    font-weight:900;
    color: var(--secondary);
    margin-top: 35px;
}
.frise_structure {
    background-color: var(--grey);
    background-size: 20px;
    margin-bottom: var(--space2x);
    margin-top: var(--space2x);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 90%;
    width: 50%;
    border: none;
} 
.frise_date {
    font-size: var(--text-l);
    font-family: var(--font-sans-serif); 
    color: var(--primary);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    text-align: center;
    font-weight: 500;
    margin-right: 35px;
}  
.frise__img {
    width: 135px;      
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 6%;
    margin-top:-0.5%;   
}
figcaption {
    font-size: var(--text-l);
    font-family: var(--font-sans-serif); 
    color: var(--black);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    text-align: center;
    padding-top: var(--space1x);
}
figcaption a {
    color: var(--black);
}
.frise_lien-oeuvre {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}