.contact {
    background-color: var(--white);
    border: none; 
}
.contact_titre {
    margin: 20px;
    font-family: var(--font-sans-serif);
    font-size: var(--text-l);
    font-weight:900;
    color: var(--secondary);
    margin-bottom: 40px;
}
 .contact_btn {
    background-color: var(--primary);
    color: var(--white); 
    font-family: var(--font-sans-serif);
    border-radius: 15px; 
    padding: 10px 20px; 
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-bottom: 25px;
 }
 input {
    border: none; 
    font-size: var(--text-l);
    font-family: var(--font-sans-serif);
    color: var(--grey);
    margin-left: var(--space1x);
    display: block;
    padding-bottom: 2px;
    margin-bottom: var(--space3x);
    border-bottom: 2px solid var(--grey);
    margin-top: var(--space1x);
    margin-left: var(--space1x);
    margin-right: var(--space1x);
    width: 90%;
    background-color: var(--white);
}
textarea {
    border: none; 
    border: none; 
    font-size: var(--text-l);
    font-family: var(--font-sans-serif);
    color: var(--grey);
    margin-left: var(--space1x);
    display: block;
    padding-bottom: 2px;
    margin-bottom: var(--space3x);
    border-bottom: 2px solid var(--grey);
    margin-top: var(--space1x);
    margin-left: var(--space1x);
    width: 90%;
    background-color: var(--white);
}
.labelmessage {
    display: block;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--grey); 
}